<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Collection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <h1>🗂️ <button class="user">{{user.username}}</button> Collections</h1>
      </nav>
    </header>
    <div class="main">
      <div class="collection-list">
        {% for col in collections %}
            <a class="collection-card" href="{{ url_for('view_collection', collection_id=col.id) }}">
            <h3>{{ col.name }}</h3>
            <p>{{ col.items|length }} item{{ 's' if col.items|length != 1 else '' }}</p>
            </a>
            <a class="text-danger" href="{{url_for('delete', coll_id=col.id)}}">Delete</a>
        {% endfor %}
      </div>

      <form id="add-item-form" method="POST" action="{{url_for('add_collection', user_id=user.id)}}">
        <input type="text" class="form" placeholder="New Collection Name" name="title" required/>
        <button type="submit" class="button-71" role="button">➕ New Collection</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    
  </body>
</html>